body {
    background-color: aliceblue;
}
h1 {
    color: midnightblue;
    font-family: tahoma;
    font-size: 300%;
}
p {
    color: red;
}
div.maps {
    max-width: 80%;
    margin: auto;
    border: 3px solid midnightblue;
}